<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Task</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.tasks.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Task', new_user_path %>
